/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #f8f9fa; /* Contoh warna background */
  padding: 20px;
}

main > .container {
  padding: 60px 15px 0;
}
